body {
  background-color: black;
  scroll-behavior: smooth;
  /* font-size: 17px !important; */
}
::-webkit-scrollbar-track {
  background: rgb(131, 131, 131);
  border-radius: 15px;
}
::-webkit-scrollbar-thumb {
  background: rgb(48, 48, 48);
  border-radius: 10px;
}
::-webkit-scrollbar{
  width: 8px;
}













.navbar1.active {
  animation: fadeNav 0.7s linear forwards;
  background: red !important;
  box-shadow: 0 8px 20px 0 rgb(0 0 0 / 10%);
}

.navbar1 {
  transition: all 0.5s;
  opacity: 1;
  animation: fadeNavOut 0.9s linear forwards;
}

@keyframes fadeNav {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/* ------------------------------------Loader------------------------------------ */
#spinner {
  z-index: 1;
  width: 150px;
  height: 150px;
  border: 10px solid #00a82d;
  border-radius: 50%;
  border-top: 10px solid transparent;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}
@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
/* ------------------------------------------------------------------------ */


/* ------------------------------------Home------------------------------------ */
.contentBg {
  background: url("./Images/download.png") no-repeat;
  transition: opacity 0.4s ease 0s, transform 200ms ease-out 0s,
    background-position 200ms linear 0s, filter 800ms ease-in 0s;
  filter: initial;
  background-position: 60% 80%;
  background-attachment: fixed;
  /* transform: perspective(1000px) scale(1); */
}
.MuiToolbar-root{
  position: absolute !important;
}
.DashTabs .tab.active{
  border-radius: 15px;
  background-color: #00a82d !important;
}
#home .tab.active{
  color: #00a82d !important;
  text-decoration:underline;
}
.tab{
  color: white;
}
