body {
  background-color: black;
  scroll-behavior: smooth;
  /* font-size: 17px !important; */
}
::-webkit-scrollbar-track {
  background: rgb(131, 131, 131);
  border-radius: 15px;
}
::-webkit-scrollbar-thumb {
  background: rgb(48, 48, 48);
  border-radius: 10px;
}
::-webkit-scrollbar{
  width: 8px;
}

.contentBg {
  background: url("./Images/download.png") no-repeat;
  transition: opacity 0.4s ease 0s, transform 200ms ease-out 0s,
    background-position 200ms linear 0s, filter 800ms ease-in 0s;
  filter: initial;
  background-position: 60% 80%;
  background-attachment: fixed;
  /* transform: perspective(1000px) scale(1); */
}




.MuiPaper-root .MuiPaper-elevation .MuiPaper-elevation0 .MuiDrawer-paper .MuiDrawer-paperAnchorLeft .MuiDrawer-paperAnchorDockedLeft .css-1l8j5k8{
  background-color: black !important;
}
.css-1l8j5k8{
  background-color: black !important;
}
.MuiToolbar-root{
  position: absolute !important;
}
.DashTabs .tab.active{
  border-radius: 15px;
  background-color: #00a82d !important;
}
#home .tab.active{
  color: #00a82d !important;
  text-decoration:underline;
}
.tab{
  color: white;
}
